@use "../../styles";

%base-styles {
  outline: none;
  border: none;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 500;

  &:disabled {
    cursor: no-drop;
    opacity: 0.7;
  }
}

.btn-primary {
  @extend %base-styles;
  background: var(--color-btn-primary);
  color: #fff;
  border: 1px solid transparent;
  box-shadow: var(--box-shadow);
}

.btn-secondary {
  @extend %base-styles;
  background: #50d546;
  box-shadow: inset -4px -4px 4px #3cc132, inset 4px 4px 4px #64e95a;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.btn-error {
  @extend %base-styles;
  background-color: tomato;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(255, 99, 71, 0.25);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.lg {
  padding: 2.4rem 4rem;
  font-size: 2rem;
}

.sm {
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
}

.md {
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
}

.full-width {
  width: 100%;
}
