$background: #fff;
$modal-background: #fff;

$white: #ffffff;
$black: #000000;
$red: #fd4529;
$text-primary: #000;
$text-secondary: #222222;

$label-primary: #788597;
$label-secondary: #777777;

$btn-primary: #000;
$btn-secondary: #0dd588;
$btn-error: #ff6347;
$btn-success: #00ce53;

$error: #ff6347;
$success: #00ce53;
$warning: #cdd103;
