.home {
  .hero {
    height: calc(100vh - 100px);
    position: relative;

    .hero_content {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      justify-content: center;
      gap: 1rem;
      max-width: 50%;
      width: 100%;
      height: 100%;

      h1 {
        font-size: 8rem;
        line-height: 9rem;
      }
    }

    .hero_abstract {
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      z-index: -1;

      img {
        width: 50rem;
      }
    }
  }

  .calculate_profit {
    padding: 3.2rem 0;
    background-color: #fff;

    .section_title {
      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3.2rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .deposit {
        padding: 6rem;
        background-color: var(--color-primary);
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        gap: 4rem;
        border-radius: 10px;

        .deposit_controls {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .deposit_stats {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > div {
            > p {
              font-size: 1.2rem;
            }
            span {
              font-weight: 500;
            }
          }
        }
      }

      .affilate_program {
        padding: 6rem;
        background-color: var(--color-background);
        border-radius: 10px;

        .referral_link {
          padding: 1.6rem;
          background-color: #fff;
          border-radius: 10px;
          margin-bottom: 1rem;

          > div {
            display: grid;
            grid-template-columns: 70% 30%;

            p {
              background-color: var(--color-background);
              width: 100%;
              border-radius: 10px 0 0 10px;
              display: flex;
              align-items: center;
              padding: 0 1.6rem;
            }
          }
        }

        .flex-between {
          > p {
            font-size: 1.2rem;

            b {
              font-weight: 600;
            }
          }
        }

        .affilate_stats {
          height: 150px;
          display: grid;
          grid-template-columns: repeat(5, 70px);
          gap: 1.6rem;
          margin: 1.6rem 0;
          align-items: flex-end;

          > div {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 0.8rem;
            border-radius: 10px;
            height: 100%;

            &:nth-child(2) {
              height: 80%;
            }
            &:nth-child(3) {
              height: 60%;
            }
            &:nth-child(4) {
              height: fit-content;
            }
            &:nth-child(5) {
              height: fit-content;
            }

            > p {
              font-size: 1.4rem;
            }
            > strong {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
