.home {
  .hero {
    height: calc(100vh - 100px);
    position: relative;

    .hero_content {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      justify-content: center;
      gap: 1rem;
      max-width: 50%;
      width: 100%;
      height: 100%;

      h1 {
        font-size: 8rem;
        line-height: 9rem;
      }
    }

    .hero_abstract {
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      z-index: -1;

      img {
        width: 50rem;
      }
    }
  }

  .calculate_profit {
    padding: 3.2rem 0;
    background-color: #fff;

    .section_title {
      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3.2rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .deposit {
        padding: 6rem;
        background-color: var(--color-primary);
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        gap: 4rem;
        border-radius: 10px;

        .deposit_controls {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .deposit_stats {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > div {
            > p {
              font-size: 1.2rem;
            }
            span {
              font-weight: 500;
            }
          }
        }
      }

      .affilate_program {
        padding: 6rem;
        background-color: var(--color-background);
        border-radius: 10px;

        .referral_link {
          padding: 1.6rem;
          background-color: #fff;
          border-radius: 10px;
          margin-bottom: 1rem;

          > div {
            display: grid;
            grid-template-columns: 70% 30%;

            p {
              background-color: var(--color-background);
              width: 100%;
              border-radius: 10px 0 0 10px;
              display: flex;
              align-items: center;
              padding: 0 1.6rem;
            }
          }
        }

        .flex-between {
          > p {
            font-size: 1.2rem;

            b {
              font-weight: 600;
            }
          }
        }

        .affilate_stats {
          height: 150px;
          display: grid;
          grid-template-columns: repeat(5, 70px);
          gap: 1.6rem;
          margin: 1.6rem 0;
          align-items: flex-end;

          > div {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 0.8rem;
            border-radius: 10px;
            height: 100%;

            &:nth-child(2) {
              height: 80%;
            }
            &:nth-child(3) {
              height: 60%;
            }
            &:nth-child(4) {
              height: fit-content;
            }
            &:nth-child(5) {
              height: fit-content;
            }

            > p {
              font-size: 1.4rem;
            }
            > strong {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .your-farm-read {
    background-color: #fff;
    padding: 1rem 1rem 3rem;
    .your-farm {
      display: grid;
      grid-template-columns: 1fr 1.4fr;
      @media (max-width: 1050px) {
        grid-template-columns: 0.7fr 1fr;
      }
      .tire-deposite {
        text-align: center;
        img {
          width: 24rem;
          height: 25.9rem;
        }
        .total-deposite {
          background-color: var(--color-background);
          padding: 2rem 5rem;
          text-align: left;
          width: 80%;
          margin: 2rem;
          border-radius: 1rem;
        }
      }
      .farm-deposits {
        padding-right: 3rem;
        .farm {
          text-align: left;
          border: 1px solid #eeeeee;
          padding: 1rem;
          .withdraw {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 9rem 1rem 0;
            button {
              width: 14.5rem;
            }
          }
        }
        .last-deposits {
          border: 1px solid #eeeeee;
          padding: 1rem;
          height: 23rem;
          margin: 2rem 0;
        }
        .farm-buttons {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .read {
      border: 1px solid #eeeeee;
      padding: 3rem 2rem;
      p {
        padding-top: 1.5rem;
      }
    }
  }
  .start-journey {
    text-align: center;
    padding: 3rem 0;
    .yield-farm {
      h3 {
        font-weight: 100;
      }
    }
    .stake-community {
      display: flex;
      justify-content: space-between;
      padding-top: 3rem;
      .stake {
        padding: 0px 1rem;
        h3 {
          padding: 0.2rem 0;
          font-size: 1.6rem;
        }
        p {
          line-height: 1.5rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  .footer {
    text-align: center;
    background-color: #fff;
    padding: 4rem 0 0;
    .dapp-logo {
      display: flex;
      justify-content: center;
      gap: 5rem;
      padding-bottom: 3rem;
      img {
        width: 20%;
      }
      span {
        border-left: 1px solid #eeeeee;
        padding: 4rem 0rem 0rem;
      }
    }
    .icon {
      padding-bottom: 2rem;
      p {
        padding-bottom: 1.5rem;
      }
      .icons {
        display: flex;
        justify-content: center;
        gap: 4rem;
      }
    }
    .copyright {
      background: #313942;
      padding: 1.5rem;
      color: #fff;
      h4 {
        padding-bottom: 1rem;
      }
      span {
        font-weight: bold;
      }
    }
  }
}
