@use "../../styles";
.home {
  padding: 20px 0 30px;

  .hero {
    min-height: calc(100vh - 60px);
    position: relative;
    display: flex;
    align-items: center;

    .hero_content {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .hero_abstract {
      position: absolute;
      right: 0;
      z-index: -1;
    }
  }

  .features {
    padding: 5rem 0;

    .card-container {
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(2, 1fr);

      .card {
        border-radius: 1rem;
        background-color: var(--color-white);
        padding: 2rem;
        box-shadow: var(--box-shadow);

        .title {
          font-weight: bold;
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }

  .video {
    h3 {
      margin-bottom: 3rem;
    }
    .video-section {
      padding: 2em;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      > div iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }
}

.menu-item {
  width: 200px;
  padding: 0.5rem;
  border-radius: 3px;
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: inherit;
  padding: 15px;
  border-radius: 6px;
  transform-origin: 50% -30px;
  border-radius: 3px;
}

.sub-menu-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 0 0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.sub-menu-item {
  cursor: pointer;
}

.currency {
  padding: 1.5em;
  color: #fff;
  h3 {
    margin: 1em;
  }
  table {
    min-width: 800px;
    margin: 0 auto;
    text-align: right;
    border-collapse: collapse;
    text-align: center;
  }
  table {
    border: 1px solid #fff;
    border-radius: 10px;
  }
  td {
    padding: 10px;
    border-bottom: 1px solid #fff;
  }
}
