header {
  padding: 2.4rem 0;
  background: rgba(238, 238, 238, 0.1);
  backdrop-filter: blur(30px);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        width: 27rem;

        @media (max-width: 576px) {
          width: 20rem;
        }
      }
    }
  }
}
